{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0da84599b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>TODO WOO</title>
</head>
<body> 
    <header class="header">
        <img src="{% static 'images/Todowoo.png' %}" width=100 height=50 alt="TODOWOO LOGO">
        {% if user.is_authenticated %}
            <div class="user-logged">
                <div class="welcome">
                    Welcome <span class="user-name">{{ user }}</span>
                </div>
                <a href="{% url 'logoutuser' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
    </header>
    <nav class="nav-container">
        <ul>
            <li {% if request.GET.view == 'todos' %} class="active-tab"{% endif %}>
                <a href="{% url 'currenttodos' %}?view=todos">Current</a>
            </li>
            <li{% if request.GET.view == 'completed' %} class="active-tab" {% endif %}>
                <a href="{% url 'completedtodos' %}?view=completed">Completed</a>
            </li>
            <li{% if request.GET.view == 'create' %} class="active-tab" {% endif %}>
                <a href="{% url 'createtodo' %}?view=create">Create</a>
            </li>
        </ul>
    </nav>
    {% else %}
    <a href="{% url 'signupuser' %}">Sign Up</a>
    <a href="{% url 'loginuser' %}">Login</a>
    {% endif %}
    
    <div>
        {% block content %}{% endblock %}
    </div>

    <footer>
        RASC©2022
    </footer>
</body>
</html>


