.header {
    background-color: #D9D7F1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.user-name {
    font-weight: bold;
}

.welcome {
    margin-right: 20px;
}

.user-logged {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user-sign {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: #FFFDDE;
}

/********************
        NAV            
********************/
.nav-container {
    display: flex;
    justify-content: center;
    background-color: #FFFDDE;
}

.nav-container ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-container ul li{
    display: inline;
    border-top: 1px solid black;
}

.nav-container ul li:first-child {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.nav-container ul li:not(:first-child):not(:last-child) {
    border-top: 1px solid black;
    border-left: 1px solid black
}
.nav-container ul li:last-child {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav-container a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.active-tab {
    background-color: white;
}

/********************
       CONTENT            
********************/
.content-container {
    width: 90%;
    text-align: center;
    padding-top: 5%;
}