.header {
    background-color: #D9D7F1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.user-name {
    font-weight: bold;
}

.welcome {
    margin-right: 20px;
}

.user-logged {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}