.todos-container {
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

.todos-container table {
    width: 100%;
}

.todos-container tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

.todos-container td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
 }

.todos-container h3 {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.todos-container p {
    text-align: center;
    font-size: 1.5rem;
}