.signin-container {
    width: 25%;
    margin: 0 auto;
    border-radius: 5%;
    background-color: #D9D7F1;
    padding: 20px;
    margin-top: 5%;
}

.signin-container h5,h1{
    margin: 0;
}

.signin-error {
    display: flex;
    background-color: rgb(250, 62, 4);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: white;
}

.signin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}