.signup-container {
    width: 65%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #D9D7F1;
    padding: 20px;
    margin-top: 5%;
}

.signup-container h5 h1{
    margin: 0;
}

.signup-error {
    display: flex;
    background-color: rgb(250, 62, 4);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: white;
}

.signup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}